.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  margin-top: 20px;
  width: 600px;
  max-width: 800px;
  padding: 20px;
}

.loading-message {
  margin-top: 20px;
}

.text-field {
  width: 100%;
}

.message {
  margin-top: 10px;
}

.error-message {
  margin-top: 20px;
  color: red;
}